* {
    border: none;
    border-radius: 0;
    font-family: 'Fira Sans', Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #c5c9c5;
}
window#waybar>box {
    background: rgba(24, 22, 22, 0.9);
    border-radius: 0px;
    padding: 6px;
    margin: 0px 0px 6px 0px;
    box-shadow: 0px 0px 2px 1px rgba(26, 26, 26, 238);
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: #c5c9c5;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: inherit;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces button.active {
    color: #87a987;
}

@keyframes blink {
    to {
        background-color: #c5c9c5;
        color: #181616;
    }
}

#battery.warning:not(.charging) {
    background: #c4746e;
    color: #c5c9c5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
