* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, 'Fira Code NerdFont', Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(24, 22, 22, 0.9);
    color: #c5c9c5;
    border-radius: 4px;
}
window#waybar>box {
    padding: 4px;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: #c5c9c5;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: inherit;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces button.active {
    color: #87a987;
}

@keyframes blink {
    to {
        background-color: #c5c9c5;
        color: #181616;
    }
}

#battery.warning:not(.charging) {
    background: #c4746e;
    color: #c5c9c5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
